*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --white: hsl(0, 0%, 100%);
   --light-gray: hsl(212, 45%, 89%);
   --grayish-blue: hsl(220, 15%, 55%);
   --dark-blue: hsl(218, 44%, 22%);
}

body {
   background-color: var(--light-gray);
   font-family: "Outfit", sans-serif;
   font-size: 0.925rem;
   text-align: center;
}

main {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
}

h2 {
   color: var(--dark-blue);
   font-weight: 700;
   margin: 1.25rem 0;
}

p {
   color: var(--grayish-blue);
}

.container {
   background-color: var(--white);
   border-radius: 1.25rem;
   padding: 0.625rem;
   height: 31.25rem;
   width: 20rem;
}

.qr {
   border-radius: 0.625rem;
   margin-top: 0.625rem;
   width: 18.125rem;
}

.qr-info {
   padding: 0 1.25rem;
}
